<!doctype html>
<html lang="pt-br">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DriveCar - {% block title %}{% endblock %}</title>
  <!-- adicionar CSS do Tailwind depois -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.10.0"></script>
  <!-- Alpine.js leve -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="header-inner">
      <a class="brand" href="{% url 'drivecar:index' %}">
        <img src="{% static 'images/Logo_drivecar.png' %}" alt="DriveCar" class="logo"/>
      </a>
      <nav class="main-nav">
        <a class="nav-item" href="{% url 'drivecar:cadastrar_veiculo' %}">Cadastrar veículo</a>
        <a class="nav-item" href="{% url 'drivecar:lista_alertas' %}">Alertas</a>
        <a class="nav-item" href="/admin/">Admin</a>
      </nav>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="{% static 'js/main.js' %}?v=1"></script>
</body>
</html>
